:root{
    --amarelo_escuro: #e3b200;
    --amarelo_claro:#ffe68c;
    --azul_50porcelona: rgba(0,34,255,0.5);
    --braco: #0c0909;

}



/*CAIXAS EM CSS*/
.caixa{
    width: 100%;
    height: 150px;
    border: 4px solid red;
    margin-bottom: 50px;

    
}
.grupo1{
    margin-left: 80px;

}
.grupo2{
    margin-left: 400px;

}
#cx01{
    background-color: var(--amarelo_claro);
}
#cx02{
    background-color: var(--azul_50porcelona);
}
#cx03{
    background-color: var(--braco);
}
#cx04{
    background-color: crimson;
}
#cx05{
    background-color: goldenrod;
}
#cx06{
    background-color: deeppink;
}